[submodule "git/ChezScheme"]
	path = git/ChezScheme
	url = git@github.com:cisco/ChezScheme
[submodule "git/emacs-application-framework"]
	path = git/emacs-application-framework
	url = git@github.com:emacs-eaf/emacs-application-framework
